.full_card{
  position: relative;
  max-width: 350px ;
  margin: auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 10px;
  box-shadow: rgb(0 0 0 / 10%) 0px 4px 6px -1px, rgb(0 0 0 / 6%) 0px 2px 4px -1px;
  background: var(--grayOscuro);


}


.full_card img{
width: 350px;
height: 350px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.info_character{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  text-align: center;
  padding-top: 15px;
   background: var(--grayOscuro);
    border-radius: 10px;
}

.info_character h1{
  font-size: 24px;
  color: var(  --primary);
}

.info_character h2{
  font-size: 20px;
  font-weight: 200;
  color: var(--hover);
}

.status{
position: absolute;
top: 0;
border: 1px solid #ccc;
margin: 10px;
padding: 2px 10px;
border-radius: 10px;
background: rgba(255, 255, 255, .8);
display: flex;
justify-content: center;
align-items: center;
gap: .5em;
color: var(--grayOscuro);
}

.status_icon{
width: 15px;
height: 15px;
border-radius: 50px;
margin-right: 5px;
}

.full_card p{
  padding: 10px 0;
  color: var(--textLight);
}

